---
import PostList from '../components/PostList.astro'
import {POSTSLIST} from '../lib/constants.ts'
import { BLOG } from '../lib/constants'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
---

<BaseLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="fade">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0"
      >
        {BLOG.TITLE}
      </h2>
    </TopLayout>
    <BottomLayout>
      <ul class="w-full flex flex-col items-center">
        {
          POSTSLIST.map((postInfo)=>(
            <PostList
              key= {postInfo.key}
              title= {postInfo.title}
              keywords= {postInfo.keywords}
              resume= {postInfo.resume}
              />
          ))
        }
      </ul>
      </BottomLayout>
  </main>
</BaseLayout>
